<tr *ngFor="let row of grid.getRows(); index as i" (click)="userSelectRow.emit(row)" (mouseover)="rowHover.emit(row)" class="ng2-smart-row" [className]="rowClassFunction(row)" [ngClass]="{selected: row.isSelected}">
  <td *ngIf="isMultiSelectVisible" class="ng2-smart-actions " (click)="multipleSelectRow.emit(row)">
      <!--<input type="checkbox" class="form-control" [ngModel]="row.isSelected">-->
      <div class="custom-control custom-checkbox  select-cb">
          <input type="checkbox" class="custom-control-input" id="cb{{i}}" [ngModel]="row.isSelected">
          <label class="custom-control-label" for="cb{{i}}">&nbsp;</label>
      </div>
      <!--<a href="#" *ngIf="isActionEdit" class="">fuck</a>-->
  </td>
  <td *ngIf="!row.isInEditing && showActionColumnLeft" class="ng2-smart-actions">

    <ng2-st-tbody-edit-delete [grid]="grid"
                              [deleteConfirm]="deleteConfirm"
                              [editConfirm]="editConfirm"
                              [detailConfirm]="detailConfirm"
                              (edit)="edit.emit(row)"
                              (delete)="delete.emit(row)"
                              (detail)="detail.emit(row)"
                              (editRowSelect)="editRowSelect.emit($event)"
                              [row]="row"
                              [source]="source">
      <ng2-st-tbody-custom [grid]="grid" (custom)="custom.emit($event)" [row]="row" [source]="source"></ng2-st-tbody-custom>
    </ng2-st-tbody-edit-delete>
  </td>
   <td *ngIf="row.isInEditing && showActionColumnLeft"  class="ng2-smart-actions">
    <ng2-st-tbody-create-cancel [grid]="grid" [row]="row" [editConfirm]="editConfirm"></ng2-st-tbody-create-cancel>
  </td>
  <ng-container *ngFor="let cell of row.cells" >
    <td class="{{cell.getColumn().class}}" *ngIf="!grid.isHiddenData(cell.getColumn().id)">
      <ng2-smart-table-cell [cell]="cell"
                            [grid]="grid"
                            [row]="row"
                            [isNew]="false"
                            [mode]="mode"
                            [editConfirm]="editConfirm"
                            [inputClass]="editInputClass"
                            [isInEditing]="row.isInEditing">
      </ng2-smart-table-cell>
    </td>
  </ng-container>


  <td *ngIf="row.isInEditing && showActionColumnRight"  class="ng2-smart-actions">
    <ng2-st-tbody-create-cancel [grid]="grid" [row]="row" [editConfirm]="editConfirm"></ng2-st-tbody-create-cancel>
  </td>

  <td *ngIf="!row.isInEditing && showActionColumnRight" class="ng2-smart-actions">

    <ng2-st-tbody-edit-delete [grid]="grid"
                              [deleteConfirm]="deleteConfirm"
                              [editConfirm]="editConfirm"
                              [detailConfirm]="detailConfirm"
                              (edit)="edit.emit(row)"
                              (delete)="delete.emit(row)"
                              (detail)="detail.emit(row)"
                              (editRowSelect)="editRowSelect.emit($event)"
                              [row]="row"
                              [source]="source">
        <ng2-st-tbody-custom [grid]="grid" (custom)="custom.emit($event)" [row]="row" [source]="source"></ng2-st-tbody-custom>
    </ng2-st-tbody-edit-delete>
  </td>
</tr>

<tr *ngIf="grid.getRows().length == 0">
  <td [attr.colspan]="grid.getColumns().length + (isActionAdd || isActionEdit || isActionDelete) + isMultiSelectVisible">
    {{ noDataMessage }}
  </td>
</tr>
