<nav class="docs-navbar-header" aria-label="Top Toolbar">
  <a mat-icon-button routerLink="/" aria-label="Angular Material">
    <mat-icon (click)="onMenuToggle()">menu</mat-icon>
  </a>
  <a mat-button routerLink="/" aria-label="Angular Material">
    <span>Mat Manage</span>
  </a>
  <div class="flex-spacer"></div>
  <theme-picker></theme-picker>
  <a mat-icon-button class="docs-button docs-navbar-hide-small" aria-label="user profile">
    <mat-icon>notifications</mat-icon>
  </a>
  <a mat-icon-button class="docs-button docs-navbar-hide-small" aria-label="user profile">
    <mat-icon>account_circle</mat-icon>
  </a>

</nav>
<!--<nav class="docs-navbar docs-navbar-show-small" aria-label="Section Nav Bar">-->

<!--  <a mat-button class="docs-navbar-link" routerLink="guides">Guides</a>-->
<!--</nav>-->
