<form name="editForm" role="form" (ngSubmit)="save()" #editForm="ngForm">
  <nb-card>
    <nb-card-header>
      {{ manageRole && manageRole.username != null ? manageRole.username : '' }}
      {{ manageRole && manageRole.id ? '编辑' : '新增'}}
    </nb-card-header>

    <nb-card-body>
      <div *ngIf="manageRole" class="form-group">

        <ngx-alert></ngx-alert>
        <ngx-alert-error></ngx-alert-error>
        <div class="row">
          <div class="col-md-2 form-label">
            <span class="text-danger">*&nbsp;</span>
            <label for="name" ngxTranslate="manageRole.name">角色名</label>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="请输入{{'manageRole.name'| translate}}"
                     [(ngModel)]="manageRole.name"
                     name="name"
                     #nameInput="ngModel"
                     [class.form-control-danger]="nameInput.invalid && nameInput.touched"
                     autofocus required="required"
                     id="name"/>
              <div *ngIf="nameInput.touched && nameInput.invalid">
                <small class="form-text error"
                       *ngIf="nameInput.errors?.required"
                       ngxTranslate="entity.validation.required">
                  name不能为空
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 form-label">
            <label for="memo" ngxTranslate="manageRole.memo">备注</label>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <textarea type="text" class="form-control" placeholder="请输入{{'manageRole.memo'| translate}}"
                        [(ngModel)]="manageRole.memo"
                        name="memo"
                        #memoInput="ngModel"
                        [class.form-control-danger]="memoInput.invalid && memoInput.touched"
                        id="memo"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 form-label">
            <span class="text-danger">*&nbsp;</span>
            <label for="status" ngxTranslate="manageRole.status">状态</label>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="hidden"
                     class="form-control"
                     placeholder="status"
                     [(ngModel)]="manageRole.status"
                     name="status"
                     #statusInput="ngModel"
                     id="status"
              />
              <ngx-switcher
                  [firstValue]="1"
                  [secondValue]="0"
                  [firstValueLabel]="'可用'"
                  [secondValueLabel]="'禁用'"
                  [value]="+statusInput.value === 1 ? 1 : 0"
                  [colorful]="true"
                  (valueChange)="changeStatus($event)"
              >
              </ngx-switcher>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 form-label">
            <span class="text-danger">*&nbsp;</span>
            <label for="manager" ngxTranslate="manageRole.manager">是否是管理层</label>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="hidden"
                     class="form-control"
                     placeholder="manager"
                     [(ngModel)]="manageRole.manager"
                     name="manager"
                     #managerInput="ngModel"
                     id="manager"/>
              <ngx-switcher
                  [firstValue]="1"
                  [secondValue]="0"
                  [firstValueLabel]="'是'"
                  [secondValueLabel]="'否'"
                  [value]="+managerInput.value === 1 ? 1 : 0"
                  [colorful]="true"
                  (valueChange)="isManager($event)"
              >
              </ngx-switcher>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" class="btn btn-sm btn-danger mr-2"
              [disabled]="editForm.form.invalid || submitting"
              ngxTranslate="entity.action.save">保存
      </button>
      <button type="button" (click)="saveAndNew()" class="btn btn-success mr-2"
              [disabled]="editForm.form.invalid || submitting "
              ngxTranslate="entity.action.saveandnew">保存&新增
      </button>
      <button class="btn btn-sm btn-primary mr-2"
              ngxTranslate="entity.action.back"
              routerLink="/pages/account/role">返回
      </button>
    </nb-card-footer>
  </nb-card>
</form>
