<nb-card>
  <nb-card-header>
    业务组信息
  </nb-card-header>

  <nb-card-body>
    <div class="row form-group">
      <div class="col-12 col-sm-6 col-md-6" *ngIf="settings.actions.add">
        <div class="row col-12">
          <button class="btn btn-outline-success btn-icon with-margins"
                  routerLink="/pages/account/group-info/new">
            <i class="nb-plus"></i>
          </button>
          <button class="btn btn-outline-danger btn-icon with-margins"
                  (click)="onDeleteForSelect()"><i class="nb-trash"></i></button>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-group">
          <input class="form-control " type="text"
                 [(ngModel)]="queryFilter['groupName']"
                 placeholder="按{{ 'groupInfo.groupName' | translate }}搜索" (keyup)="onSearch(queryFilter['groupName'],'groupName')">
        </div>
      </div>
    </div>
    <div>
      <ngx-alert></ngx-alert>
      <ngx-alert-error></ngx-alert-error>
    </div>

    <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (delete)="onDelete($event)"
        (detail)="onDetail($event)"
        (edit)="onEdit($event)"
        (userRowSelect)="onSelect($event)">
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer class="page-warp">
    <div class="dropdown ghost-dropdown" ngbDropdown>
      <button class="btn btn-primary" type="button" ngbDropdownToggle
              ngxTranslate="global.item-count"
              translateValues="{first: {{source.first()}}, second: {{source.second()}}, total: {{source.count()}}}">
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li class="dropdown-item" *ngFor="let size of settings.pager.perPages"
            (click)="changePageSize(size)">{{size}}
        </li>
      </ul>
    </div>
  </nb-card-footer>
</nb-card>



