<nb-card>
    <nb-card-header>
    平台角色信息 详细信息
    </nb-card-header>

    <nb-card-body class="p-0">
        <ul *ngIf="manageRole" class="detail-list">
          <li>
            <div class="field" ngxTranslate="manageRole.id">角色id</div>
            <div class="value">{{manageRole.id}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="manageRole.name">角色名</div>
            <div class="value">{{manageRole.name}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="manageRole.memo">备注</div>
            <div class="value">{{manageRole.memo}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="manageRole.status">0-停用</div>
            <div class="value">
              <i class="icon"
                 [ngClass]="{'text-success ion-md-unlock ': manageRole.status,
                 'text-danger ion-md-lock': !manageRole.status}">
              </i>
            </div>
          </li>
          <li>
            <div class="field" ngxTranslate="manageRole.manager">是否是管理层</div>
            <div class="value">
              <i class="icon"
                 [ngClass]="{'text-success ion-md-checkmark-circle ': manageRole.manager,'text-danger ion-md-close-circle': !manageRole.manager}">
              </i>
            </div>
          </li>
        </ul>
    </nb-card-body>
    <nb-card-footer>
        <button class="btn btn-primary" routerLink="/pages/account/role">返回</button>
    </nb-card-footer>
</nb-card>