@import '../../styles/themes';

@include nb-install-component() {

  /deep/ a {
    color: nb-theme(color-fg);
  }
  /deep/ a:hover {
    color: nb-theme(link-color-hover)
  }

  line-height: 2rem;

  &:last-child {
    /deep/ a {
      color: nb-theme(link-color);
    }
    /deep/ a:hover {
      color: nb-theme(link-color-hover)
    }
    color: rgba(0, 0, 0, 0.65);
    .ngx-breadcrumb-separator{
      display: none;
    }
  }
}



