<h1 id="title" class="title">忘记密码？</h1>
<p class="sub-title">输入您的电子邮件地址，我们会发送一个重置密码的链接</p>


<form (ngSubmit)="requestPass()" #requestPassForm="ngForm" >

  <ngx-alert></ngx-alert>
  <ngx-alert-error></ngx-alert-error>

  <div class="form-control-group">
    <label class="label" for="input-email">输入你的邮箱地址:</label>
    <input nbInput
           [(ngModel)]="user.email"
           #email="ngModel"
           id="input-email"
           name="email"
           pattern=".+@.+\..+"
           placeholder="邮箱地址"
           autofocus
           fullWidth
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           required="required"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null">
    <ng-container *ngIf="email.invalid && email.touched">
      <small class="form-text error" *ngIf="email.errors?.required">
        {{'global.messages.validate.email.required' | translate}}
      </small>
      <small class="form-text error" *ngIf="email.errors?.pattern">
        {{'global.messages.validate.email.invalid' | translate}}
      </small>
    </ng-container>
  </div>

  <button class="btn btn-block btn-success mt-5"
          [disabled]="submitted || !requestPassForm.valid"
          [class.btn-pulse]="submitted">
    请求重置密码
  </button>
</form>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">返回登录</a></p>
</section>
