@import '../0-base/constants';

table.app-table {
  width: 100%;
  tr.mat-header-row {
    height: 40px;
  }
  tr.mat-row, tr.mat-footer-row {
    height: 40px;
  }
  .cb-column, .cb-column-header {
    width: 20px;
    padding-right: 16px;
    padding-left: 16px !important;
  }
}


.table-container {
  width: 100%;
  overflow-y: auto;
  @include small-scrollbars();
  padding-bottom: 2px;
}

.table-tools {
  display: flex;
  justify-content: space-between;
}
