@import '../0-base/constants';

table.app-table {
  width: 100%;
  tr.mat-header-row {
    height: 40px;
  }
  tr.mat-row, tr.mat-footer-row {
    height: 40px;
  }
  .cb-column {
    width: 20px;
    padding-right: 24px;
  }
}


.table-container {
  width: 100%;
  overflow-y: auto;
  @include small-scrollbars();
}
