<nb-card>
    <nb-card-header>
    用户操作日志 详细信息
    </nb-card-header>

    <nb-card-body class="p-0">
        <ul *ngIf="commandLog" class="detail-list">
          <li>
            <div class="field" ngxTranslate="commandLog.id">记录id</div>
            <div class="value">{{commandLog.id}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.userId">用户id</div>
            <div class="value">{{commandLog.userId}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.name">姓名</div>
            <div class="value">{{commandLog.name}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.commandId">命令id</div>
            <div class="value">{{commandLog.commandId}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.commandName">命令名称</div>
            <div class="value">{{commandLog.commandName}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.moduleName">模块名称</div>
            <div class="value">{{commandLog.moduleName}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.requestPath">请求路径</div>
            <div class="value">{{commandLog.requestPath}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.parameters">请求参数</div>
            <div class="value">{{commandLog.parameters}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.userIp">用户IP</div>
            <div class="value">{{commandLog.userIp}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.resultSuccesss">操作是否成功</div>
            <div class="value">{{commandLog.resultSuccesss}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.resultMessage">操作提示信息</div>
            <div class="value">{{commandLog.resultMessage}}</div>
          </li>
          <li>
            <div class="field" ngxTranslate="commandLog.actionTime">操作时间</div>
            <div class="value">{{commandLog.actionTime}}</div>
          </li>
        </ul>
    </nb-card-body>
    <nb-card-footer>
        <button class="btn btn-primary" routerLink="/pages/system/command-log">返回</button>
    </nb-card-footer>
</nb-card>