<nb-card>
  <nb-card-header>
    用户操作日志
  </nb-card-header>

  <nb-card-body>
    <div class="row form-group">
      <div class="col-md-4">
        <div class="input-group">
          <input class="form-control " type="text"
                 [(ngModel)]="queryFilter['name']"
                 placeholder="按{{ 'commandLog.name' | translate }}搜索" (keyup)="onSearch(queryFilter['name'],'name')">
        </div>
      </div>
    </div>
    <div>
      <ngx-alert></ngx-alert>
      <ngx-alert-error></ngx-alert-error>
    </div>

    <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (delete)="onDelete($event)"
        (detail)="onDetail($event)"
        (edit)="onEdit($event)"
        (userRowSelect)="onSelect($event)">
    </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer class="page-warp">
    <div class="dropdown ghost-dropdown" ngbDropdown>
      <button class="btn btn-primary" type="button" ngbDropdownToggle
              ngxTranslate="global.item-count"
              translateValues="{first: {{source.first()}}, second: {{source.second()}}, total: {{source.count()}}}">
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li class="dropdown-item" *ngFor="let size of settings.pager.perPages"
            (click)="changePageSize(size)">{{size}}
        </li>
      </ul>
    </div>
  </nb-card-footer>
</nb-card>



